.projects-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.projects-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.tempImgOne {
    max-width: 50%;
    height: auto;
}

.tempImgTwo {
    max-width: 50%;
    height: auto;
}

.tempImgThree {
    max-width: 50%;
    height: auto;
}

.tempImgFour {
    max-width: 50%;
    height: auto;
}