.skills-title {
    display: flex;
    font-size: 30px;
    justify-content: center;
    color: white;
}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-list {
    display: flex;
    justify-content: space-evenly;
}

.skills-frontend {
    /* display: flex; */
    font-size: 15;
    color: white;
    /* justify-content: center; */
}

.skills-frontend p {
    font-size: 50px;
}

.skills-frontend li {
    font-size: 30px;
}

.skills-backend {
    font-size: 15;
    color: white;
    margin: auto;
}

.skills-backend p{
    font-size: 50px;
}

.skills-backend li {
    font-size: 30px;
}

.skills-technology {
    font-size: 15;
    color: white;
    margin: auto;
}

.skills-technology p {
    font-size: 50px;
}

.skills-technology li {
    font-size: 30px;
}